<div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form #userForm="ngForm" [formGroup]="userService.formChangePassModal" id="ChangePassForm" autocomplete="off">
        <input type="hidden" formControlName="Id" [value]="user.id">
        <div class="form-group">
            <input type="password" autocomplete="new-password" placeholder="Current Password" formControlName="CurrentPassword" [ngClass]="{'is-invalid': submitted && f.CurrentPassword.errors}" class="form-control" />
            <div *ngIf="submitted && f.CurrentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.CurrentPassword.errors.required">Password is required</div>
                <div *ngIf="f.CurrentPassword.errors.minlength || f.CurrentPassword.errors.maxlength">Password must be 4 to 8 characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" autocomplete="new-password" placeholder="New Password" formControlName="NewPassword" [ngClass]="{'is-invalid': submitted && f.NewPassword.errors}" class="form-control" />
            <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
                <div *ngIf="f.NewPassword.errors.required">Password is required</div>
                <div *ngIf="f.NewPassword.errors.minlength || f.NewPassword.errors.maxlength">Password must be 4 to 8 characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Confirm Password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
            <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </form>

    <!-- <div><app-Upload (onUploadFinished)="uploadFinished($event)"></app-Upload></div> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide();userService.formModalUser.reset();">Cancel</button>
    <button type="button" class="btn btn-success" (click)="changePasswod()">Save</button>
</div>