<div class="container mt-3">
    <h3 style="text-align: center;">Users</h3>
    <div>
        <div style="margin-top: 10px;">
            <button type="button" class="btn btn-primary" style="margin-bottom:10px; display: inline-block" (click)="openModalWithComponent()">
        <li class="fa fa-plus"></li> Add New
      </button>
        </div>
        <form #projectForm="ngForm" [formGroup]="userService.searchFormModalUser" id="searchTransForm" autocomplete="off">
            <div class="form-row">
                <div class="form-group col">
                    <select formControlName="ProgrammeId" class="form-control">
                        <option [ngValue] ="null" disabled selected>Please Select Programme</option>
                        <option *ngFor="let programme of drProgrammes" [value]="programme.id">{{programme.programmeName}}</option>
                      </select>
                </div>
                <div class="form-group col">
                    <input placeholder="User Name" formControlName="Name" class="form-control">
                </div>
                <div class="form-group col">
                    <select formControlName="RoleId" class="form-control">
                        <option [ngValue] ="null" disabled selected>Please Select Role</option>
                        <option *ngFor="let role of drRoles" [value]="role.id">{{role.name}}</option>
                      </select>
                </div>
                <div class="form-group col">
                    <select formControlName="ProvinceId" class="form-control">
                <option [ngValue]="null" disabled selected>Please Select Province</option>
                <option *ngFor="let province of drProvince" [value]="province.id">{{province.provinceName}}</option>
              </select>
                </div>
                <div class="form-group col">
                    <button type="button" class="btn btn-success mr-1" (click)="searchUser()">Search</button>
                    <button type="button" class="btn btn-default mr-1" (click)="resetSearchUser()">Reset</button>
                </div>
            </div>
        </form>
        <table class="table">
            <tr>
                <th style="width: 30%">Programme Name</th>
                <th style="width: 20%">User Name</th>
                <th style="width: 15%">Role</th>
                <th style="width: 20%">Province</th>
                <th style="width: 20%"></th>
            </tr>
            <tr *ngFor="let user of FilteredUsersList;">
                <td>{{user.programmeName}}</td>
                <td>{{user.userName}}</td>
                <td> {{user.roleName}}</td>
                <td>{{user.provinceName}}</td>
                <td class="text-sm-right">
                    <button class="btn btn-info" style="margin-right: 4px;" (click)="editUser(user)"> <li class="fa fa-pencil"></li></button>
                    <button class="btn btn-info" style="margin-right: 4px;" title="Reset Password" (click)="resetUserPassword(user.id)"> <li class="fa fa-undo"></li></button>
                    <button type="button" class="btn btn-danger btn-s" (click)="deleteUser(user.id)"> <span class="fa fa-trash"></span> </button>
                </td>
            </tr>
        </table>
    </div>

</div>